*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: rgb(35, 35, 43);
}

h1, h2 {
    color: rgb(46, 181, 249);
    display: flex;
    justify-content: center;
}

.cell {
    width: calc(100% / 10); 
    aspect-ratio: 1 / 1;
    border: 1px dashed palegoldenrod;
    font-weight: bold;
    font-size: 2rem;
    color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg-safe {
    background-color: darkslateblue;
}
